<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findById" resultType="com.example.demo.entity.User">
        SELECT id, nickname, age, password
        FROM `user`
        WHERE id = #{id}
    </select>

    <select id="findByName" resultType="com.example.demo.entity.User">
        SELECT id, nickname, age, password
        FROM `user`
        WHERE nickname = #{nickname}
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (nickname, age, password)
        VALUES (#{nickname}, #{age}, #{password})
    </insert>

    <delete id="deleteById">
        DELETE FROM `user` WHERE id = #{id}
    </delete>

    <delete id="deleteByName">
        DELETE FROM `user` WHERE nickname = #{nickname}
    </delete>

    <update id="updateInfo" parameterType="com.example.demo.entity.User">
        UPDATE `user`
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="age != null">age = #{age},</if>
            <if test="password != null">password = #{password},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getAll" resultType="com.example.demo.entity.User">
        SELECT id, nickname, age, password
        FROM `user`
    </select>
</mapper>